@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");

.app__yes {
  position: relative;
  width: 405px;
  height: 801px;
  background: linear-gradient(180deg, #f8f8f8 0%, #f8f8f8 39.74%, #fdfdfd 100%);
}

.yes__header {
  width: 405px;
  height: 65px;
  flex-shrink: 0;
  background: #135c8f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yes__ok {
  width: 292px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ae0f13;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 108px;
}

.yes__ok > span {
  color: #fff;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.yes__content {
  width: 362px;
  height: 409px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/yes/background.png");
  margin: auto;
}

.yes__ {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0 11px 0;
}

.yes__thankyou {
  color: #1e5c75;
  font-family: Source Sans Pro;
  font-size: 22.6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.yes__transfer {
  color: #4e4e4e;
  font-family: Source Sans Pro;
  font-size: 20.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.yes__confirmation {
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 14.8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fund__transfer {
  color: #565654;
  font-family: Source Sans Pro;
  font-size: 14.6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
}

/* styling the content  */

.content__yes {
  padding-top: 29px;
  padding-left: 27px;
  padding-right: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.type__transaction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
}

.yes__amount {
  padding-top: 21.5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.yes__label {
  color: #71716f;
  font-family: Source Sans Pro;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.yes__value {
  color: #51514f;
  font-family: Source Sans Pro;
  font-size: 15.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.__special {
  padding-top: 2px !important;
}
