@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

.app__idfc {
  width: 343px;
  height: 801px;
  background-color: #262626;
  position: relative;
}

.idfc__header {
  padding-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.idfc__payment {
  padding-top: 19px;
  color: #bcbdbf;
  font-family: Be Vietnam Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.idfc__amount {
  padding-top: 24px;
  color: #b8b8b8;
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.19px;
}

/* styling the content of the receipt */

.idfc__content {
  padding-top: 33px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
}

/* stlying the bottom of the receipt */

.idfc__bottom {
  position: absolute;
  bottom: 62px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}

/* styling the section */

.idfc__section {
  display: flex;
  flex-direction: column;
}

.idfc__label {
  color: #8a8a8a;
  font-family: Be Vietnam Pro;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.idfc__namecustomer {
  color: #b5b5b7;
  font-family: Be Vietnam Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.idfc__date {
  color: #b1b0b5;
  font-family: Be Vietnam Pro;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.81px;
}

.idfc__firstbank {
  color: #acacac;
  font-family: "Be Vietnam Pro";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.__to {
  padding-top: 23px;
}

.__mode {
  padding-top: 41px;
}

.--date {
  padding-top: 19px;
}

.--transaction {
  padding-top: 20px;
}


.--10 { 
    padding-top: 10px;
}
.--7{ 
    padding-top: 7px !important;
}

.--9{ 
    padding-top: 9px !important
}
.--4{ 
    padding-top: 4px;}

    .--3{ 
        padding-top: 3px !important;
    }